body {
    font-family: "Shadows Into Light", cursive;
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(purple, violet);
}
h1 {
    text-align: center;
}
/* IMAGE: COS FORMULA */
#img0 {
    width: 16%;
    height: auto;
    margin-left: 42%;
    margin-right: 42%;
    border: 1px black solid;
    outline: 1px white solid;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    border: 1px black solid;
    outline: 1px white solid;
}
#myBtn {
    width: 10%;
    height: 60px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    border: 1px black solid;
    outline: 1px white solid;
    font-family: "Shadows Into Light", cursive;
    font-size: 1rem;
    color: black;
}
#demo, #demo1, #demo2 {
    width: 10%;
    height: 60px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    border: 1px black solid;
    outline: 1px white solid;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    text-align: center;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px black solid;
    outline: 1px white solid;
}
footer {
    text-align: center;
    font-size: 1rem;
    color: black;
}